/* #region custom effect */
    .custom-alert {
        border-radius: 30px !important;
        button {
            border-radius: 30px !important;
        }
    }

    mark {
        background-color: #ffd54f;
        border-radius: 3px;
        padding: 0 2px;
    }

/* #endregion */

/* #region scrollbar */
    ::-webkit-scrollbar {
        width: 6px; 
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(255, 170, 0);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #ddff00;
    }
/* #endregion */
